body{
    background-color: yellow;
    text-align: left;
    margin-top: 20%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    border: solid;
    width: 50px;
    height: 50px;
    text-align: right;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}
.texticon{
    padding-top: 20px;
}

.btn_link{
    margin-left: 20%;
    margin-top: 5%;
    text-decoration: none;
    display: inline-block;
    
}

.colunone{
    display: block;
    margin-right: 30px;
}

.coluntwo{
    display: block;
    display: inline-block;
}

a{
    text-decoration: none;
}

button{
    display: block;
    margin: 10px;
    border: none;
    background-color: ivory;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    transform: 100s;
    text-decoration: none;
    box-shadow: 0px;
}
button:hover{
    background-color: yellow;
    height: 35px;
}



@media(max-width: 670px){
    ::-webkit-scrollbar-track {
        background-color: black;
        }
        ::-webkit-scrollbar {
            width: 5px;
            height: 10px;
            background: grey;
        }
        ::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 15px;
        }
        .btn_link{
            margin-left: 40%;
            margin-top: 10%;
            text-decoration: none;
            display: block;
            
        }
        
        body{
            overflow-y: auto;
        }

        .colun{
            display: block;
        }
        
        .coluntwo{
            display: block;
            margin-left: 40%;
            text-decoration: none;
            display: block;
        }

        button{
            height: 40px;
            width: 70px;
        }
}